In [61]:
import pandas as pd 
import numpy as np
data = pd.read_csv('12.27.2020_WaterData.csv',sep='\t')
reference = pd.read_excel('C:/Users/Scott/Desktop/Projects/River_Data/RiverReferenceTable.xlsx')
df=data.set_index('Name').join(reference.set_index('USGS Name'))
df.reset_index(inplace=True)
df['Value'] = df.Value.apply(lambda x:int(x.replace(',','')))
df['Date'] = pd.to_datetime(df.Date)

In [62]:
Discharge = df[['Value','Date','Name',
                'OptimalDischargeMin_Editable','OptimalDischargeMax_Editable',
               'FishType']].loc[df.VariableDescription=='Discharge']
Discharge.head()

,Value,Date,Name,OptimalDischargeMin_Editable,OptimalDischargeMax_Editable,FishType
0,32,2020-12-09,East Fork Carson,100.0,NaN,Trout
1,51,2020-12-18,East Fork Carson,100.0,NaN,Trout
2,50,2020-12-18,East Fork Carson,100.0,NaN,Trout
3,51,2020-12-18,East Fork Carson,100.0,NaN,Trout
4,51,2020-12-18,East Fork Carson,100.0,NaN,Trout

In [71]:
DischargePiv = pd.pivot_table(data=Discharge,index='Date',columns='Name',values='Value',
              aggfunc=np.mean).sort_values(by='Date')
DischargePiv.head()

Name,East Fork Carson,East Walker,Eel River Fort Seward,Eel River Scotia,Hat Creek,Little Truckee River,Mad River,Mattole River Ettersburg,Mattole River Petrolia,Navarro River,...,San Lorenzo River,San Lorenzo River Upper,Smith River CC,Trinity River Burnt Ranch,Trinity River Junction City,Trinity River Lewiston,Truckee River Farad,Umpqua River Elkton,Van Duzen River Bridgeville,Yuba River
Date,,,,,,,,,,,,,,,,,,,,,
2020-12-07,51.25,16.0,179.000000,262.200000,122.000000,77.833333,70.000000,14.166667,40.800000,6.0,...,12.800000,15.000000,844.000000,405.166667,340.500000,292.166667,254.333333,2343.666667,32.833333,110.000000
2020-12-08,39.25,16.0,177.000000,288.857143,120.833333,84.833333,69.833333,13.200000,41.666667,6.0,...,11.857143,15.000000,779.500000,403.333333,411.714286,298.000000,253.666667,2836.333333,32.000000,119.428571
2020-12-09,32.00,16.0,176.000000,257.166667,121.166667,85.500000,67.666667,11.857143,38.666667,6.0,...,10.333333,15.000000,735.333333,405.833333,350.833333,313.166667,253.833333,2578.833333,31.000000,109.666667
2020-12-10,NaN,16.0,174.666667,256.333333,121.333333,84.666667,67.333333,12.500000,37.166667,6.0,...,8.833333,15.000000,695.333333,417.000000,356.000000,314.333333,253.666667,2389.000000,30.833333,109.500000
2020-12-11,NaN,15.0,175.500000,259.333333,120.500000,84.833333,67.500000,12.500000,37.500000,6.5,...,9.000000,15.166667,683.000000,418.500000,356.500000,313.166667,253.666667,2290.000000,31.333333,109.500000

In [73]:
DischargePiv.columns

Index(['East Fork Carson', 'East Walker', 'Eel River Fort Seward',
       'Eel River Scotia', 'Hat Creek', 'Little Truckee River', 'Mad River',
       'Mattole River Ettersburg', 'Mattole River Petrolia', 'Navarro River',
       'Nestucca River Beaver', 'North Fork American River',
       'North Umpqua River Winchester', 'Noyo River', 'Pit River',
       'Putah Creek', 'Redwood Creek Orick', 'Rogue River Agness',
       'Rogue River Grants Pass', 'Russian River HaciendaBridge',
       'San Lorenzo River', 'San Lorenzo River Upper', 'Smith River CC',
       'Trinity River Burnt Ranch', 'Trinity River Junction City',
       'Trinity River Lewiston', 'Truckee River Farad', 'Umpqua River Elkton',
       'Van Duzen River Bridgeville', 'Yuba River'],
      dtype='object', name='Name')

In [75]:
for c in DischargePiv.columns:
    print(DischargePiv[c].tail(5))

Date
2020-12-22   NaN
2020-12-23   NaN
2020-12-24   NaN
2020-12-25   NaN
2020-12-26   NaN
Name: East Fork Carson, dtype: float64
Date
2020-12-22    20.0
2020-12-23    20.0
2020-12-24    20.0
2020-12-25    20.0
2020-12-26    20.0
Name: East Walker, dtype: float64
Date
2020-12-22     476.333333
2020-12-23     413.000000
2020-12-24     590.142857
2020-12-25     369.000000
2020-12-26    1203.000000
Name: Eel River Fort Seward, dtype: float64
Date
2020-12-22     876.333333
2020-12-23     749.166667
2020-12-24     653.500000
2020-12-25     652.500000
2020-12-26    1276.800000
Name: Eel River Scotia, dtype: float64
Date
2020-12-22    123.166667
2020-12-23    116.000000
2020-12-24    118.666667
2020-12-25    122.000000
2020-12-26    122.800000
Name: Hat Creek, dtype: float64
Date
2020-12-22    84.000000
2020-12-23    83.666667
2020-12-24    83.666667
2020-12-25    84.000000
2020-12-26    84.400000
Name: Little Truckee River, dtype: float64
Date
2020-12-22    330.000000
2020-12-23    296.500000
2020-12-24    237.000000
2020-12-25    210.833333
2020-12-26    747.200000
Name: Mad River, dtype: float64
Date
2020-12-22     65.833333
2020-12-23     54.000000
2020-12-24     47.666667
2020-12-25    115.500000
2020-12-26    217.000000
Name: Mattole River Ettersburg, dtype: float64
Date
2020-12-22     195.333333
2020-12-23     176.166667
2020-12-24     152.166667
2020-12-25     431.000000
2020-12-26    1643.333333
Name: Mattole River Petrolia, dtype: float64
Date
2020-12-22    25.666667
2020-12-23    23.000000
2020-12-24    20.333333
2020-12-25    21.000000
2020-12-26    33.400000
Name: Navarro River, dtype: float64
Date
2020-12-22    6472.500000
2020-12-23    4439.833333
2020-12-24    3191.166667
2020-12-25    2623.833333
2020-12-26    2563.000000
Name: Nestucca River Beaver, dtype: float64
Date
2020-12-22     69.833333
2020-12-23     67.333333
2020-12-24     65.833333
2020-12-25     66.666667
2020-12-26    109.400000
Name: North Fork American River, dtype: float64
Date
2020-12-22    9188.833333
2020-12-23    6535.000000
2020-12-24    4829.000000
2020-12-25    3987.000000
2020-12-26    5406.800000
Name: North Umpqua River Winchester, dtype: float64
Date
2020-12-22    10.833333
2020-12-23     9.666667
2020-12-24     8.833333
2020-12-25    24.285714
2020-12-26    26.400000
Name: Noyo River, dtype: float64
Date
2020-12-22    1270.333333
2020-12-23    1237.333333
2020-12-24    1168.666667
2020-12-25    1230.500000
2020-12-26    1293.600000
Name: Pit River, dtype: float64
Date
2020-12-22     99.500000
2020-12-23    100.000000
2020-12-24    100.000000
2020-12-25    100.833333
2020-12-26    101.400000
Name: Putah Creek, dtype: float64
Date
2020-12-22     513.833333
2020-12-23     446.166667
2020-12-24     379.000000
2020-12-25     420.666667
2020-12-26    1091.400000
Name: Redwood Creek Orick, dtype: float64
Date
2020-12-22    3395.875000
2020-12-23    3275.500000
2020-12-24    3002.705882
2020-12-25    3167.705882
2020-12-26    7425.066667
Name: Rogue River Agness, dtype: float64
Date
2020-12-22    1752.888889
2020-12-23    1765.277778
2020-12-24    1636.000000
2020-12-25    1616.555556
2020-12-26    2836.882353
Name: Rogue River Grants Pass, dtype: float64
Date
2020-12-22    215.500000
2020-12-23    205.666667
2020-12-24    199.666667
2020-12-25    212.000000
2020-12-26    322.200000
Name: Russian River HaciendaBridge, dtype: float64
Date
2020-12-22    10.500000
2020-12-23    10.833333
2020-12-24    10.000000
2020-12-25    11.333333
2020-12-26    31.500000
Name: San Lorenzo River, dtype: float64
Date
2020-12-22    16.500000
2020-12-23    16.000000
2020-12-24    16.000000
2020-12-25    18.833333
2020-12-26    29.000000
Name: San Lorenzo River Upper, dtype: float64
Date
2020-12-22     3683.333333
2020-12-23     3008.166667
2020-12-24     2455.166667
2020-12-25     2570.500000
2020-12-26    11281.500000
Name: Smith River CC, dtype: float64
Date
2020-12-22    530.833333
2020-12-23    514.333333
2020-12-24    497.833333
2020-12-25    502.666667
2020-12-26    623.400000
Name: Trinity River Burnt Ranch, dtype: float64
Date
2020-12-22    367.333333
2020-12-23    366.166667
2020-12-24    362.833333
2020-12-25    375.000000
2020-12-26    406.600000
Name: Trinity River Junction City, dtype: float64
Date
2020-12-22    315.500000
2020-12-23    306.571429
2020-12-24    315.166667
2020-12-25    315.833333
2020-12-26    316.200000
Name: Trinity River Lewiston, dtype: float64
Date
2020-12-22    257.500000
2020-12-23    255.166667
2020-12-24    260.000000
2020-12-25    260.666667
2020-12-26    277.800000
Name: Truckee River Farad, dtype: float64
Date
2020-12-22    16641.666667
2020-12-23    13402.000000
2020-12-24    10177.500000
2020-12-25     8069.166667
2020-12-26     8612.400000
Name: Umpqua River Elkton, dtype: float64
Date
2020-12-22     165.500000
2020-12-23     149.000000
2020-12-24     127.333333
2020-12-25     144.000000
2020-12-26    1270.333333
Name: Van Duzen River Bridgeville, dtype: float64
Date
2020-12-22    131.000000
2020-12-23    126.000000
2020-12-24    122.166667
2020-12-25    132.166667
2020-12-26    322.166667
Name: Yuba River, dtype: float64